numpy==1.24.3
pandas==2.0.3
gradio==5.30.0
Open3D==0.19.0
numpy-stl==2.16.3
matplotlib==3.7.1
scikit-learn==1.2.2
opencv-python==4.11.0
pillow==10.4.0
vtk==9.4.2
torch==2.7.0
torchvision==0.22.0
torchsummary==1.5.1